.bold{font-weight: bold;}

.letter-spacing{letter-spacing: 0.25rem;}

.stack {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.gap-sm { gap: 8px; }
.gap-md { gap: 16px; }
.gap-lg { gap: 32px; }
.gap-slg { gap: 100px; }

   
h1{
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin: 0;
}

h2{
    font-size: 2.625rem;
    letter-spacing: 0.25rem;
    margin: 0;
}

h3{
    font-size: 2.25rem;
    font-weight: normal;
    letter-spacing: 0.25rem;
    margin: 0;
}

h4{
    font-size: 1.875rem;
    font-weight: normal;
    letter-spacing: 0.25rem;
    margin: 0;
}

h5{
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
    margin: 0;
}

.body-regular{
    font-size: 1rem;
}

.body-regular-spacing{
    font-size: 1rem;
    letter-spacing: 0.25rem;
}

.body-bold-spacing{
    font-size: 1rem;
    letter-spacing: 0.25rem;

}

.no-bullets-list {
    list-style-type: none;
    padding: 0; 
    margin:0;
}

.link-primary-white a {
    color: #ffffff;
    text-decoration: none;
}

.link-primary-white a:hover {
    opacity: 65%;
}

.link-muted-white a {
    color:  #ffffff;
    text-decoration: none;
}

.link-muted-white a:hover {
    opacity: 65%;
}

.link-primary-black a{
    color: #1A1A1A;
    text-decoration: none;
}

.link-primary-black a:hover{
    opacity: 65%;
}

.link-muted-black a{
    color: #1A1A1A;
}

.link-muted-black a:hover{
    opacity: 65%;
}

.button-primary{
    background-color: #1A1A1A;
    font-size: 0.875rem;
    color : #ffffff;
    border-radius: 8px;
    padding : 16px 22px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.button-primary:hover{
    background-color: #333333;
}

.button-secondary{
    background-color: transparent;
    font-size: 0.875rem;
    color : #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 8px;
    padding : 16px 32px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.button-secondary-text{
    background-color: #ffffff;
    font-size: 0.875rem;
    color : #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 6px;
    padding : 16px 32px;
    border: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.button-secondary-text:hover{
    opacity: 65%;
}

.multi-line-center{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.1;
    margin: 0;
}

.home-reviews-cards-container {
    display: flex;
}

.review-card {
    background-color: #ffffff;
    color: #1A1A1A;
    border-radius: 24px;
    padding: 24px;
    max-width:418px;
}