.footer {
    background-color: #1A1A1A;
    color: #ffffff;
}

.footer-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 20px;
}

.footer-top{
  display: grid;
  grid-template-columns: repeat(3, max-content) 1fr;
  column-gap: 120px;
  align-items: start;
}

.footer-col{
    text-align: left;   
}

.footer-cols{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.no-bullets-list {
    list-style-type: none;
    padding: 0; 
    margin:0;
}

.footer-subscribe {
  justify-self: end; 
  max-width: 350px;
}

.footer-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
}

.footer-middle-tagline {
    justify-self: start;
    text-align: left;
}

.footer-middle-copyright {
    justify-self: end;
    text-align: right;
}

.footer-bottom{
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.footer-bottom-logo {
    width: 250px;
    height: auto;
}

.footer-nav {
    margin-top: 40px;
    display: flex;
    gap: 100px;
    justify-self: center;
}

.footer-social {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-self: end;
}

.social-icon{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social-icon img {
    width: 35px;
    height: 35px;
    display: block;
}

