.header{
    background-color: #ffffff;
}

.header-container{
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    
}

.header-logo{
    width: 250px;
    height: auto;
}

.header-nav{
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-top: 20px;
    display: flex;
    gap: 80px;
    justify-self: center;
    align-items: flex-start;
}

.header-actions {
    display: flex;
    gap: 2px;             
    align-items: center;  
    justify-self: end; 
}