.hero-section{
    background-color: #ffffff;
    color: #ffffff;
}

.hero-container{
    max-width: 100%;
    margin: 0 auto;
}

.hero-image {
  background-image:url("../../../assets/hero.svg");
  height: 60vh;
  min-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1a1a1a
}